#first{
    color: rgb(36, 5, 7);
    text-align: justify;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    font-weight: bold;
}

#container{
    background-color: rgb(105, 67, 9);
    box-sizing: content-box;
    font-size: larger;
    text-transform: capitalize;
    text-decoration: dotted;
    color: beige;
}

button{
    color: rgb(245, 245, 248);
    background-color: rgb(66, 66, 3);
    text-align: center;
    text-decoration: solid;
    font-size: x-large;
    border-radius: 30%;
}